<div class="container cross-off-gift-modal">
  <div class="modal-header modal-heading-style">
    <h3 id="myModalLabel modal-heading-style">Contribute to Honeymoon</h3>
  </div>
  <div class="modal-body">
    <p>Great! Thank you for choosing to contribute towards Iain and Tania's honeymoon. Please enter your name(s) and the amount you wish to contribute so that we can have a written record of everyone"s gifts.</p>
    <%= render "cgs/form" %>
  </div>
</div>