<div class = "container level-header cg-page">
	<h2> Claimed Gifts </h2>
	<table class = "table table-striped">
		<thead>
			<th> Guest </th>
			<th> Contribution Amount </th>
			<th> Administration </th>
		</thead>
		<% @cgs.sort_by(&:"#{'id'}").each do |cg| %>
			<tr>
				<td> <%= cg.guest_names %> </td>
				<td> <%= number_to_currency cg.contribution_amount %> </td>
				<td><%= link_to fa_icon("trash", text: "Delete"), cg_path(cg), method: :delete, class: "btn generic-button command-button hvr-sweep-to-right", id: "delete-cg-link" %></td>
			</tr>
		<%end%>
	</table>
</div>