<div class = 'container'>  
  <div class="row">
    <h2 align='center'>BRIDESMAIDS</h2>
    <div class="hr"></div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/anita.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/anita.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Anita Jacob</h3>
          <span>Maid of Honour</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/gen.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/gen.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Genevieve Walker</h2>
          <span>Groom's Sister</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/risha.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/risha.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Risha Bhagat</h3>
          <span>School Friend</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/sarah.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/sarah.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Sarah Yeo</h3>
          <span>Friend </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/ida.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/ida.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Ida Chirayath</h3>
          <span>Childhood Friend </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/dawn.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/dawn.jpg" alt="Eva Hudson", width='100%', height='180'>
        <div class="description">
          <h3>Dawn Richardson</h3>
          <span>University Friend </span>
        </div>
      </a>
    </div>
  </div>
</div>