<div class = 'container'>
  <div class="row">
    <h2 align='center'>Bridesmaids</h2>
    <div class="hr"></div>
    <div class="col-md-3 col-sm-4">
      <a href="../images/gen.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/gen.jpg" alt="Genevieve Walker", width='207', height='150'>
        <div class="description">
          <h3>Genevieve Walker</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-4">
      <a href="../images/ida.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/ida.jpg" alt="Ida Chirayath", width='207', height='150'>
        <div class="description">
          <h3>Ida Chirayath</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-4">
      <a href="../images/kels.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/kels.jpg" alt="Kelsey Morrison", width='207', height='150'>
        <div class="description">
          <h3>Kelsey Morrison</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-4">
      <a href="../images/risha.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/risha.jpg" alt="Risha Bhagat", width='207', height='150'>
        <div class="description">
          <h3>Risha Bhagat</h3>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-4">
      <a href="../images/sarah.jpg" data-rel="lightcase:mw-bridesmaid" class="people-item">
        <img src="../images/sarah.jpg" alt="Sarah Yeo", width='207', height='150'>
        <div class="description">
          <h3>Sarah Yeo</h3>
        </div>
      </a>
    </div>
  </div>
</div>