<div class = 'container'>  
  <h2 align='center'>Groomsmen</h2>
  <div class="hr"></div>
  <div class="row">
    <div class="col-md-3 col-sm-2">
      <a href="../images/louis.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/louis.jpg" alt="Louis Tuohy", width='100%', height='180'>
        <div class="description">
          <h3>Louis Tuohy </h3>
          <span>Best Man</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/fraser.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/fraser.jpg" alt="Fraser Berry", width='100%', height='180'>
        <div class="description">
          <h3>Fraser Berry</h3>
          <span>Flatmate</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/matt.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/matt.jpg" alt="Matt van der Welden", width='100%', height='180'>
        <div class="description">
          <h3>Matt Van der W</h3>
          <span>Ex-flatmate's friend</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/mike.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/mike.jpg" alt="Michael Barrell", width='100%', height='180'>
        <div class="description">
          <h3>Michael Barrell</h3>
          <span>Cousin </span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/connor.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/connor.jpg" alt="Louis Tuohy", width='100%', height='180'>
        <div class="description">
          <h3>Connor Scott </h3>
          <span>School Friend</span>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-2">
      <a href="../images/eddie.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
        <img src="../images/eddie.jpg" alt="Eddie Stevens", width='100%', height='180'>
        <div class="description">
          <h3>Eddie Stevens</h3>
          <span>School Friend </span>
        </div>
      </a>
    </div>
  </div>
</div>