<div class = 'container'>  
  <div class="row">
    <h2 align='center'>Wedding Party</h2>
    <div class="hr"></div>
    <div class="row">
      <div class="col-md-3 col-sm-2">
        <a href="../images/nina.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/nina.jpg" alt="Nina Jacob", width='100%', height='180'>
          <div class="description">
            <h3>Nina Jacob </h3>
            <span>Flower Girl</span>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-2">
        <a href="../images/JOHNN.PNG" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/JOHNN.PNG" alt="John Tharakan", width='100%', height='180'>
          <div class="description">
            <h3>John Tharakan</h3>
            <span>Ring Bearer</span>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-2">
        <a href="../images/annie.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/annie.jpg" alt="Annie Jacob", width='100%', height='180'>
          <div class="description">
            <h3>Annie Jacob</h3>
            <span>Flower Girl</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>