<div class="container">
  <h2 align="center"> People Involved </h2>
  <div class="hr"></div>
  <div class="row">
    <div id="owl-demo" class="owl-carousel">
      <% @main_people.each do |d| %>
        <div class="item">
          <% @photo = d["photo"] %>
          <%= image_tag(@photo, class: "img-responsive") %>
          <div class = "description">
            <h4> <%= d["name"] %> </h4>
            <span> <%= d["title"]%> </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>