<div class="container">
  <h2>Bride, Groom and Parents</h2>
  <div class="hr"></div>
    <div id="owl-demo" class="owl-carousel">
      <% @main_people.each do |d| %>
        <div class="item">
          <% @photo = d["photo"] %>
          <%= image_tag(@photo, class: "img-responsive tidy-img") %>
          <span id="main-people-name"><%= d["name"] %></span>
        </div>
      <% end %>
    </div>
</div>
