<div class="container main-people-page">
  <h2>Bride, Groom and Parents</h2>
  <div id="owl-demo" class="owl-carousel">
    <% @main_people.each do |d| %>
      <div class="item">
        <% @photo = d["photo"] %>
        <%= image_tag(@photo, class: "img-responsive tidy-img") %>
        <span><%= d["name"] %></span>
      </div>
    <% end %>
  </div>
</div>
