<div class="main-people-page container">
  <h2>Bride, Groom and Parents</h2>
  <div id="owl-demo" class="owl-carousel">
    <% @main_people.each do |d| %>
      <dl class="item">
        <dt>Person's Photo</dt>
        <% @photo = d["photo"] %>
        <dd><%= image_tag(@photo, class: "img-responsive tidy-img") %></dd>
        <dt>Person's Name</dt>
        <dd><span><%= d["name"] %></span></dd>
      </dl>
    <% end %>
  </div>
</div>
