<div class="container wedding-party">
  <h2>Wedding Party</h2>
  <div class="hr"></div>
  <div class="row text-center">
    <% @wedding_party.each do |b| %>
      <div class="large-3 columns">
        <% @photo=b["photo"] %>
        <%= image_tag(@photo, class: "img-responsive tidy-img") %>
        <h5><%= b["name"] %></h5>
        <span><%= b["title"] %></span>
      </div>
    <% end%>
  </div>
</div>
