<div class = "container">
  <div class="row">
    <h2 align="center">Wedding Party</h2>
    <div class="hr"></div>
    <% @wedding_party.each do |b| %>
     <div class="col-md-3 col-md-2">
          <a href="../images/gen.jpg" data-rel="lightcase:mw-weddingparty" class="people-item">
             <% @photo = b["photo"] %>
             <%= image_tag(@photo, class: "img-responsive") %>
            <div class="description">
              <h3><%=b["name"]%></h3>
            </div>
          </a>
        </div>
    <% end%>
  </div> 
</div>