<div class = 'container'>
  <div class="row">
    <h2 align='center'>Wedding Party</h2>
    <div class="hr"></div>
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <a href="../images/anita.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/anita.jpg" alt="Anita Jacob", width='320', height='250'>
          <div class="description">
            <h3>Anita Jacob </h3>
            <span>Maid of Honour</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-3">
        <a href="../images/fraser.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/fraser.jpg" alt="Fraser Berry", width='320', height='250'>
          <div class="description">
            <h3>Fraser Berry</h3>
              <span>Best Man</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-3">
        <a href="../images/nina.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/nina.jpg" alt="Nina Jacob", width='320', height='250'>
          <div class="description">
            <h3>Nina Jacob </h3>
            <span>Flower Girl</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-3">
        <a href="../images/john.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/john.jpg" alt="John Tharakan", width='320', height='250'>
          <div class="description">
            <h3>John Tharakan</h3>
            <span>Ring Bearer</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-3">
        <a href="../images/annie.jpg" data-rel="lightcase:mw-groomsmen" class="people-item">
          <img src="../images/annie.jpg" alt="Annie Jacob", width='320', height='250'>
          <div class="description">
            <h3>Annie Jacob</h3>
            <span>Flower Girl</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>