<div class="wedding-party-page container">
  <h2>Wedding Party</h2>
  <div class="row text-center">
    <% @wedding_party.each do |b| %>
      <dl class="large-3 columns">
        <dt>Person's Photo</dt>
        <% @photo=b["photo"] %>
        <dd><%= image_tag(@photo, class: "img-responsive tidy-img") %></dd>
        <dt>Person's Name</dt>
        <dd><p><%= b["name"] %></p></dd>
        <dt>Person's Role</dt>
        <dd><span><%= b["title"] %></span></dd>
      </dl>
    <% end%>
  </div>
</div>
