<div class = "container">
  <div class="row">
    <h2>Wedding Party</h2>
    <div class="hr"></div>
    <% @wedding_party.each do |b| %>
      <div class="col-lg-3 col-lg-1">
        <div class="people-item">
          <% @photo = b["photo"] %>
          <%#= image_tag(@photo, class: "img-responsive") %>
          <div class="description">
            <h3><%=b["name"]%></h3>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
