<div class="container accomodation-page">
  <h2>Accomodation</h2>
  <div class="row">
    <% @accomodation.each do |a| %>
      <div class="columns large-4">
        <% @photo = a["photo"] %>
        <%= image_tag(@photo, class: "img-responsive tidy-img") %>
        <dl>
          <dt><%= link_to "#{a["name"]}", "#{a["url"]}"%></dt>
          <dd><%= a["address"] %></dd>
          <dd><%= a["phone_number"] %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>
