<div class="container">
  <h2>Accomodation</h2>
  <div class="hr"></div>
  <div class="row">
    <% @accomodation.each do |a| %>
      <div class="columns large-4">
        <% @photo = a["photo"] %>
        <img class="img-responsive tidy-img" src="/images/<%=@photo%>">
        <h4><%= link_to "#{a["name"]}", "#{a["url"]}"%></h4>
        <h5><%= a["address"] %></h5>
      </div>
    <% end %>
  </div>
</div>
