<%-
  content_for :page_title, "FAQ"
-%>
<% content_for :page_content do %>
  <div class="faq-page container">
    <h2>Faq</h2>
    <div class="row">
      <% @faqs.each do |faq| %>
        <dl>
          <dt>Question</dt>
          <dd aria-label="question" class="question <%= faq["q_class"]%>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><%= faq["question"] %></dd>
          <dt>Answer</dt>
          <dd aria-label="answer" class="answer hidden <%= faq["a_class"]%>"> <%= faq["answer"] %></dd>
        </dl>
      <% end %>
    </div>
  </div>
<% end %>
