<div class='container'>
  <h2 align='center'> Faq </h2>
  <div class="hr"></div>
  <div class='each-q'>
    <p class="question"> How do I get to the venues? </p>
    <p class="answer"> The easiest way to get to the venues is via car. The best public transport option is through catching a bus to Westfield Queensgate and then catching another bus in the Hutt Hospital direction. It is a very short walk from Boulcott Hospital. The details can be found on 'The Wedding' page.</p> 
  </div>
  <div class='each-q'>
    <p class="question"> What time should I arrive at the ceremony and reception? </p>
    <p class="answer"> Please arrive by 1.15pm to ensure we will start on time at 1.30pm for the ceremony. For the reception, please arrive between 5.30pm and 6pm before the bridal party arrive. </p> 
  </div>
  <div class='each-q'>
    <p class="question"> What are the parking facilities available at the venues ? </p>
    <p class="answer"> There is nearby parking at the church and parking right outside the reception venue. </p> 
  </div>
  <div class='each-q'>
    <p class="question"> How long will the ceremony take? </p>
    <p class="answer"> The ceremony will be a traditional Catholic wedding with some traditions from Kerala included. It should take no more than one hour.</p> 
  </div>
  <div class='each-q'>
    <p class="question"> Does your wedding have a theme?  </p>
    <p class="answer"> Yes - pink and silver </p>
  </div>
  <div class='each-q'>
    <p class="question"> What is the dress code for the function? </p>
    <p class="answer"> Evening wear. This means shirts and pants for guys and cocktail dresses/saris for girls. </p> 
  </div>
  <div class='each-q'>
    <p class="question"> Are there any colours we should avoid wearing? </p>
    <p class="answer"> Please avoid wearing white, ivory, black, grey and baby pink so that you do not clash with the bridal party. </p> 
  </div>
  <div class='each-q'>
    <p class="question"> When do I have to RSVP for the wedding? </p>
    <p class="answer"> Please RSVP by Friday 20 January so that we can give numbers and preferred meal options to the caterers. Ensure to note down any dietary requirements you may have. </p> 
  </div>
  <div class='each-q'>
    <p class="question"> Am I allowed to post photos from your wedding on social media?</p>
    <p class="answer"> No - please refrain from posting pictures on social media until we have. </p>
  </div>
  <div class='each-q'>
    <p class="question"> What gifts would you like?  </p>
    <p class="answer"> Please see our Gifts Page it should list all the gifts we would like. There are instructions listed on how to utilise our registry. Your generosity is much appreciated.
  </div>
  <div class='each-q'>
    <p class="question"> Will last names be changing after the wedding?  </p>
    <p class="answer"> Yes
  </div>
  <div class='each-q'>
    <p class="question"> When and where are you going to for your honeymoon?  </p>
    <p class="answer"> We are going to Rarotonga for our honeymoon from 27 February - 8 March.
  </div>
  <div class='each-q'>
    <p class="question"> I have a question not answered here; how do I contact you? </p>
    <p class="answer"> Please send us a message using the Contact page. </p>
  </div>
</div>