<%-
  content_for :page_title, 'Gift Registry'
-%>
<% content_for :page_content do %>
  <div class="gift-registry-page container">
    <h2>Gift Registry</h2>
    <p>We’ve been asked what we’d like for a gift and the answer is simple: you, at our wedding, having a great time. But if you insist then we’ll say what we’d also love is the most amazing honeymoon. We are off to the Cook Islands for 10 days for our honeymoon(5 nights in Rarotonga and then 4 nights in Aitutaki Island).</p>
    <p>We plan on relaxing at the beach, having pamper treatments, going on lagoon cruise, kayaking, snorkelling and enjoying great cocktails and food.</p>
    <p>If you would like to contribute towards our honeymoon, then please feel free to transfer money into our Honeymoon Account. The account details are as follows: </p>
    <dl>
      <dt>Bank: </dt><dd>Westpac</dd>
      <dt>Branch: </dt><dd>Lambton Quay</dd>
      <dt>Account Number: <dt><dd>03-0515-0011251-01</dd>
      <dt>Account Name: </dt><dd>IAIN RHODES WALKER & TANIA LILIAN JACOB</dd>
    </dl>
    <p>We really appreciate your generosity and look forward to seeing you on February 25th. If you have any questions please feel free to contact us via this website.</p>
    <p>Love Iain and Tania</p>
  </div>
<% end %>
