<div class='container'>
  <h2> Significant Dates </h2>
  <div class='row'>
    <div class='col-md-12'>
      <li><b>11 March 2010</b> - IW and TJ met at ENGR101 Labs </li>
      <li><b>6 November 2013</b> - IW told TJ his feelings the night before the SWEN433 exam </li>
      <li><b>28 November 2013</b> - IW asked TJ out
      <li><b>2 March 2015</b> - IW and TJ got conditional acceptance on our house in Tawa </li>
      <li><b>27 April 2015</b> - IW popped the question to TJ at Oriental Bay </li>
    </div>
  </div>

</div>