<div class='container'>
  <h3 class=" our-story arc-text" aria-label="Our&nbsp;Story" style="position: relative; visibility: visible; height: 70.0311px;">
    <span class="char1" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.406977em; transform: rotate(-7.47968deg); transform-origin: center 19.7674em 0px;">O</span>
    <span class="char2" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.360465em; transform: rotate(-5.04697deg); transform-origin: center 19.7674em 0px;">u</span>
    <span class="char3" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.302326em; transform: rotate(-2.90473deg); transform-origin: center 19.7674em 0px;">r</span>
    <span class="char4" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.116279em; transform: rotate(-1.52498deg); transform-origin: center 19.7674em 0px;">&nbsp;</span>
    <span class="char5" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.27907em; transform: rotate(-0.217855deg); transform-origin: center 19.7674em 0px;">S</span>
    <span class="char6" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.232558em; transform: rotate(1.41606deg); transform-origin: center 19.7674em 0px;">t</span>
    <span class="char7" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.406977em; transform: rotate(3.44937deg); transform-origin: center 19.7674em 0px;">o</span>
    <span class="char8" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.302326em; transform: rotate(5.73684deg); transform-origin: center 19.7674em 0px;">r</span>
    <span class="char9" aria-hidden="true" style="position: absolute; left: 50%; margin-left: -0.313953em; transform: rotate(7.73384deg); transform-origin: center 19.7674em 0px;">y</span>
  </h3> 
  <div class="hr"></div>
  <div class='row'>
    <div class='col-sm-6 story-col'>
      <p> The story starts about six years ago in first year engineering. Iain and Tania met each other in their Thursday 9am ENGR101 Weekly Labs, the first of which took place on Thursday 11 March 2010. Tania got asked to join Iain's group for the laboratory. For Tania, it was a big shock being in a group with all boys since she was used to being around girls. The first thing we probably worked on together as a team was on an electric motorised car. During these sessions Iain appeared to befriend Tania telling her straight up that she wouldn't do well in a warehouse job of stacking shelves.</p>

      <p> Our friendship flourished over the years since ENGR101 and we became best buddies at university. We also ended up both working at Datacom which was nice. We worked on many projects together for university and studied together very well as a team. Towards fourth year we were pretty much study buddies working together in assignments and helping each other with things. Fast forward to 6 November 2013, Iain decided to express his feelings about Tania to her on the night before the SWEN433 exam. Be rest assured though, we both got A+ for the exam the following day. Now things got really serious, Iain kept calling Tania his girlfriend despite not asking her out yet. Then probably within a few weeks time, Tania asked why he kept calling her that.  </p>
    </div>
    <div class='col-sm-6 story-col'>
      <p> Eventually on 28 November 2015, Iain decided it was time and asked Tania out. Since then they have been together.Iain suggested to go to One Red Dog for our first date, and there Tania went. Unfortunately Iain got a bit muddled up with restaurant names and meant Big Dogs on Blair. We were both sitting at different restaurants waiting for each other until Iain told Tania he meant the date to be at Big Dogs. What a memorable first date. As a couple we enjoy watching TV shows, having nerdy time together, exploring the outdoors and going out for a nice dinner and movie.</p> 

      <p>Within two years of going out, we decided after doing a bungy in Taupo that we should look for a house. And there we go, we spent about 3 solid months house hunting, and going for about 8 or so open homes per week. It became time consuming and tiring but we always did make offers that vendors did accept. Fortunately, we got our offer accepted on our beautiful house in Tawa. Within a couple of weeks of moving in, IW got on one knee after all you can eat Chicken Wings night with friends, in Oriental Bay (April 27 2016). He chose this spot as we went up to Mt Victoria lookout after our first dinner together. Since then we celebrated our engagement on June 25 2016 and are counting down the days till our big day.</p>
    </div>
  </div>
  <div class= 'row'>
    <div class='col-md-6'>
      <h2> Tania Lilian Jacob </h2>
      <%= image_tag("tj.jpg", :alt => "TJ", height: 250, width: 300) %>
      <p> Tania was born and brought up in Lower Hutt, Wellington. Her parents are from Kerala, India and moved here in 1988. Tania's dad, Jeco, is a Computer Consultant and her mum Beena is a Accounts Administrator at Aspeq, Lower Hutt. She has one younger sister, Anita who is studying Medicine at Otago University. She went to a school called Chilton Saint James for 14 years. She went to Victoria University of Wellington where she studied Software Engineering and graduated with first class honours in December 2014. Tania is the oldest grandchild on both sides of the family - 12 cousins on one side, 5 on the other. Her interests are baking and trying out new things. </p>
    </div>
    <div class = 'col-md-6'>
      <h2> Iain Rhodes Walker </h2>
      <%= image_tag("iw.jpg", :alt => "IW", height: 250, width: 300) %>
      <p> Iain was born in London and lived there till the age of 3. His family then moved back to Wellington after their OE. Iain's dad David is from Auckland he is an Architect at Westpac Auckland. Whilst his mum Lynn is from Dunedin and is a librarian at St Cuthberts College, Auckland. He has one sister, Genevieve who is studying Anthropology and Zoology at Otago University. He spent the majority of his life living in Karori with his family. He went to Karori Normal School and Wellington College for his schooling. Like Tania, he also studied Software Engineering. Iain is the only grandson in the Walker family. His hobbies are gaming, surfing, football and longboarding.
    </div>
  </div>

</div>