<div class="container">
  <h2>Our Story</h2>
  <div class="hr"></div>
  <section class="timeline">
    <ul>
      <% @our_story_events.each do |event| %>
        <li>
          <div>
            <time><%= event["date"] %></time>
            <p id="story-event-text"><%= event["description"] %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>
