<div class='container'>
  <div class= 'row'>
    <div class='col-md-6'>
      <h2> The Bride - TJ </h2>
      <li> Born in Lower Hutt </li>
      <li> Schools: Chilton St James School </li>
      <li> One sister - Anita </li>
      <li> Oldest grandchild on both sides of the family </li>
      <li> Hobbbies: Baking, travelling, exploring </li>
    </div>
    <div class = 'col-md-6'>
      <h2> The Groom - IW </h2>
      <li> Born in Chelsea, UK </li>
      <li> Arrived in NZ in 1995 </li>
      <li> Lived in Karori </li>
      <li> One sister - Genevieve </li>
      <li> Hobbies - Gaming, Surfing, Soccer, Longboarding </li>
    </div>
  </div>
  <h2> Our Story </h2>
  <div class='row'>
    <div class='col-md-12'>
      <li><b>11 March 2010</b> - IW and TJ met at ENGR101 Labs </li>
      <li><b>6 November 2013</b> - IW told TJ his feelings the night before the SWEN433 exam </li>
      <li><b>28 November 2013</b> - IW asked TJ out
      <li><b>2 March 2015</b> - IW and TJ got conditional acceptance on our house in Tawa </li>
      <li><b>27 April 2015</b> - IW popped the question to TJ at Oriental Bay </li>
    </div>
  </div>

</div>