<div class='container'>
  <h2 align='center'> The Wedding </h2>
  <div class="hr"></div>
  <div class='countdown-clock'>
    <div class="your-clock"></div>
  </div>
  <div class='row'>
    <div class="col-md-6 col-sm-6">
      <div class="event-item">
        <h2 class='subheading'>Ceremony</h2>
        <span>14:30 - 15:30</span>
        <p> Sts Peter and Paul Church</p>
        <p> 60 Knights Road </p>
        <p> Lower Hutt </p>
        <p> Wellington </p>
        <p> New Zealand </p>      
        <%= image_tag("church.jpg", :alt => "church", width: '100%', height: '250' ) %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="event-item">
        <h2 class='subheading'> Reception</h2>
        <span>17:30 - 22.00</span>
        <p> Boulcott Farm</p>
        <p> 30 Military Road </p>
        <p> Lower Hutt </p>
        <p> Wellington </p>
        <p> New Zealand </p>      
        <%= image_tag("reception.jpg", :alt => "reception", width: '100%', height: '250') %>
      </div>
    </div>
</div>