<div class='container'>
  <h2 align='center'> The Wedding </h2>
  <div class="hr"></div>
  <div class='row'>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="event-item">
        <h2 class='subheading'>Ceremony</h2>
        <span>15:30 - 16:30</span>
        <p> Sts Peter and Paul Church</p>
        <p> 60 Knights Road </p>
        <p> Lower Hutt </p>
        <p> Wellington </p>
        <p> New Zealand </p>      
        <%= image_tag("church.jpg", :alt => "church") %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="event-item">
        <h2 class='subheading'>Formal Reception</h2>
        <span>18:30 - 22.00</span>
        <p> Hutt Golf Club</p>
        <p> 30 Military Road </p>
        <p> Lower Hutt </p>
        <p> Wellington </p>
        <p> New Zealand </p>      
        <%= image_tag("reception.jpg", :alt => "reception") %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="event-item">
        <h2 class='subheading'>Party</h2>
        <span>22:00 - 12.00</span>
        <p> Hutt Golf Club</p>
        <p> 30 Military Road </p>
        <p> Lower Hutt </p>
        <p> Wellington </p>
        <p> New Zealand </p>      
        <%= image_tag("dance.jpg", :alt => "dance") %>
      </div>
    </div>
  </div>




<!--   <h3 align='center trial'> The Ceremony </h3>
  <div class='row the-ceremony'>
    <div class='col-sm-2'>
      <p> Where: </p>
    </div>
    <div class='col-sm-10'>
      <p> Sts Peter and Paul Church</p>
      <p> 60 Knights Road </p>
      <p> Lower Hutt </p>
      <p> Wellington </p>
      <p> New Zealand </p>
    </div>
  </div>
  <div class='row the-ceremony'>
    <div class='col-sm-2'>
      <p> When: </p>
    </div>
    <div class='col-sm-10'>
      <p> 3.00pm </p>
    </div>
  </div>

  <h3 align='center'> The Reception </h3>
  <div class='row the-reception'>
    <div class='col-sm-2'>
      <p> Where: </p>
    </div>
    <div class='col-sm-10'>
      <p> Boulcott Farm </p>
      <p> Military Road </p> 
      <p> Lower Hutt </p>
      <p> Wellington </p>
      <p> New Zealand </p>
    </div>
  </div>
  <div class='row the-reception'>
    <div class='col-sm-2'>
      <p> When: </p>
    </div>
    <div class='col-sm-10'>
      <p> 5.30pm </p>
    </div>
  </div>
 -->
</div>