<div class='container'>
  <div class='general-details'>
    <h3 align='center'> IAIN WALKER & TANIA JACOB </h3>
    <h4 class='fine-details'> February 25 2017, Lower Hutt, New Zealand </h4>
  </div>
  <div class='our-image'>
    <%= image_tag("us.jpg", :alt => "us", class:'img-responsive') %>
  </div>
</div>
