<div class="container homepage">
  <h3>IAIN WALKER & TANIA JACOB</h3>
  <h4>25 FEBRUARY 2017 in LOWER HUTT, NEW ZEALAND</h4>
  <p>
    <%= image_tag("us.jpg", alt: "us", class:"img-responsive") %>
  </p>
</div>
