<div class="container">
  <div>
    <h3>IAIN WALKER & TANIA JACOB</h3>
    <h4 class="fine-details">25 FEBRUARY 2017 in LOWER HUTT, NEW ZEALAND</h4>
  </div>
  <div>
    <%= image_tag("us.jpg", :alt => "us", class:"img-responsive") %>
  </div>
</div>
