<div class="container homepage">
  <h3>IAIN WALKER & TANIA JACOB - 25 FEBRUARY 2017</h3>
  <%= render "pages/info" %>
  <p>
    <%= image_tag("us.jpg", alt: "us", class:"img-responsive") %>
  </p>
</div>
