<div class = 'container level-header'>
  <h2> Page cannot be found </h2>
  <p> Looks like you went to the wrong page. </p>
  <%= link_to 'Home', root_path, class: 'btn generic-button command-button' %>
</div>
