<div class="container">
  <h2>Login</h2>
  <hr>
  <div class="hr"></div>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.submit "Login", class: "hollow button", id: "login-link" %>
  <% end %>
</div>
