<div class = 'container level-header'>
  <h2>Log in</h2>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>

    <div class ='level-header'>
      <%= button_tag(type: 'submit', class: "btn generic-button command-button cancel-button hvr-sweep-to-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."}) do %>
        <i class="fa fa-save"></i> Login
      <% end %>
    </div>
  <% end %>
</div>