a:link { 
  color: $black;
}
a:visited { 
  color: $black;
}
a:hover { 
  color: $black;
}
a:active { 
  color: $black;
}

.generic-button {
  float: right;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  height: 2.3rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #555;
  text-transport: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
}

.command-button {
  color: $white;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 0rem;
  background-color: $pink;
  float: left;
  height: 3.1rem;
  width: 10.5rem;
}

.save-button {
  background-color: $green;
}

#cross-gift-link{
 width: 9.0rem;
 height: 3.0rem;
 font-size: 1.3rem;
}

.cancel-button {
  background-color: $white;
}