@font-face {
  font-family: 'Cheri';
  src: url('CHERI.TTF') format('truetype')
}

@font-face {
  font-family: 'AR';
  src: url('AR.otf') format('opentype')
}

@font-face {
  font-family: 'DS';
  src: url('DS.ttf') format('truetype')
}

@font-face {
  font-family: 'ELB';
  src: url('ELB.ttf') format('truetype')
}

@font-face {
  font-family: 'Ave';
  src: url('Ave.ttf') format('truetype')
}

@font-face { /** so cool */
  font-family: 'JWS';
  src: url('JWS.ttf') format('truetype')
}
