.gift-categories {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 28px;
  color: $pink;
  border-bottom: 1px solid #ccc;
}

.modal-heading-style {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 40px;
  color: $pink; 
}

.caption-style{
  color: $blue;
}

h2 {
  color: $pink;
}