.gift-categories {
  font-family: "Avenir", sans-serif ;
  font-size: 2.5rem;
  color: $pink;
  letter-spacing: -.1rem;
  line-height: 1.25;
  border-bottom: 1px solid #ccc;
  margin-top: 3rem;
  text-transform: uppercase;
}

.modal-heading-style {
  font-family: "Avenir", sans-serif;
  color: $pink;
  margin-top: 0px;
  margin-bottom: 0px;
}

.caption-style{
  color: $green;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: $pink;
  font-size: 50px;
  font-family: "AR", sans-serif; 
  text-transform: uppercase;
  text-align: center;
}

.subheading {
  font-family: "Avenir", sans-serif;
  font-size: 30px;
  color: $pink;
}

.our-story{
  font-size: 2.688em;
  font-weight: bold;
  color: $pink;
  text-transform: uppercase;
}

.hr {
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  background-image: url("../images/divider.png");
}

h3 {
  font-size: 50px;
  color: $pink;
}


.fine-details {
  font-weight: italic;
  text-align: center;
  margin-top: 0px;
  color: $pink;
}

h4 {
  font-size: 25px;
}