.gift-categories {
  font-family: ‘Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  color: $pink;
  letter-spacing: -.1rem;
  line-height: 1.25;
  border-bottom: 1px solid #ccc;
  margin-top: 3rem;
}

.modal-heading-style {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 40px;
  color: $pink; 
}

.caption-style{
  color: $blue;
}

h2 {
  color: $pink;
}