.navbar .nav > li > a {
  color: $white;
  font-family: ‘Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 3px solid transparent;
  padding: 9px 15px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: $black;
}

.navbar {
  border-radius: 0px !important;
  background-color: $pink !important;
  font-size: 16px;
  font-family: "futura-pt",sans-serif;
  margin-bottom: 40px;
  border-bottom: 0px;
  .container-fluid {
    padding-left: 11%;
  }
}

.navbar-nav > li{
  margin-left:-10px;
  margin-right:1px;
  text-align: center;
  padding: 5px 20px 30px 20px;
  height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  display: block;
}
