/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-theme.css
 *= require bootstrap.scss
 *= require foundation.min.css
 *= require owl.carousel
 *= require owl.theme
 */
@import "variables";
@import "navbar";
@import "buttons";
@import "headings";
@import "fonts";
@import "timeline";
@import "forms";
@import "owl";
@import "images";
@import "grid";
@import "flash";
@import "pages";

div[style] {
  width: 200 !important;
  height: 300px;
}

body {
  font-family: 'Avenir', serif;
  font-size: 16px;
  color: $black;
  padding-top:50px;
  overflow-x: hidden;
  padding-bottom: 50px;
  padding-top: 70px;
}

.banner {
  margin-left: 42px;
  margin-right: 50px;
}

@media all and (max-width: 700px) {
  .banner {
    margin-left: 2px;
    margin-right: 10px;
  }
.timeline ul {
  margin-left: 0px;
  padding-left: 0px;
}
.timeline ul li {
  margin-left: 0px;
}
.timeline ul li:nth-child(odd) dl {
  left: 0px;
}
.timeline ul li:nth-child(even) dl {
  left: 0px;
}
margin-left: 30px;
margin-right: 50px;
font-size: 50%;
}
