/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require owl.carousel
 *= require owl.theme
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "navbar";
@import "buttons";
@import "headings";
@import "timeline";
@import "forms";
@import "fonts";

.body-style{
  padding-top: 70px;
}

body {
  font-family: 'Avenir', serif;
  font-size: 16px;
  color: $black;
}

.flash{
  background-color: rgba(0, 75, 109, 0.17);
  font-family: 'Avenir', serif; 
  font-size: 18px;
  color: $pink;
  border-radius: 1px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  &.danger-alert{
    background-color: rgba(177, 0, 0, 0.13);
    color: #564444;
  }
  &.warning-alert{
    background-color: lighten($pink, 5%);
    color: #008000;
  }
  &.success-alert{
    background-color: lighten($green, 5%);
    color: $white;
  }

}

.cross-off-gift-modal {
  background-color: $white
}

p {
  color: $black;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.us-image{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.event-item {
  font-size: 22px;
  font-weight: 700;
  color: $pink;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: left;
  background-color: #fafafa;
  border: 1px solid #eee;
  margin-top: 30px;
  font-family: 'Avenir', sans-serif;
}

.hotel-item {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  background-color: #fafafa;
  border: 1px solid #eee;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  height: 450px;
}

.rating{
  color: $yellow;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: 300px;
}

#owl-demo .item h4, .people-item .description h3, .bs .description h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
  margin: 0 0 -2px 0;
  text-align: left;
}

.people-item {
  display: block;
  margin: 0 0 20px;
  color: #6a6a6a;
}

#owl-demo .item .description, .people-item .description, .bs .description {
 padding: 26px 0 30px 35px;
}

#owl-demo .item, .people-item, .bs {
  margin: 15px;
  border: 1px solid #f5f5f5;
  background-color: #fafafa;
  text-align: left;
}

.people-carousel .item .description, .people-item .description, .bs .description {
 padding: 26px 0 30px 35px;
}

.people-carousel .item, .people-item, .bs {
  margin: 15px;
  border: 1px solid #f5f5f5;
  background-color: #fafafa;
  text-align: left;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.image-size {
  width: 180px;
  height: 180px;
}

.cross-off-gift-modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding-bottom: 50px;
}

time {
  font-weight: bold;
  font-size: 18px;
}

.para-text {
  color: $white;
}

.countdown-clock {
  width: 70%;
  margin: 0 auto;
}

.description {
  position: relative;
  top: 50%;
  vertical-align: bottom;
}

.lined-gift {
  text-decoration: line-through
}

.all-details {
  padding-left: 180px;
}