/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "navbar";
@import "buttons";
@import "headings";
@import "forms";

.body-style{
  padding-top: 90px;
}

body {
  font-family: 'Lato', serif;
  font-size: 16px;
}

.flash{
  background-color: rgba(0, 75, 109, 0.17);
  color: $pink;
  font: {
    family: "Tangerin Next";
    size: 1.3em;
    weight: 500;
  }
  border-radius: 1px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  &.danger-alert{
    background-color: rgba(177, 0, 0, 0.13);
    color: #564444;
  }
  &.warning-alert{
    background-color: lighten($pink, 5%);
    color: #008000;
  }
}

.cross-off-gift-modal {
  background-color: $white
}

p {
  color: $blue;
}