#cancel-button {
  margin-top: 20px;
  bottom: 0px;
  line-height: 4em;
}

#rsvp-submit-link {
  margin-left: 0px;
}

#send-message-link, #rsvp-submit-link {
  margin-left: 50px;
}

#login-link, #save-guest-link, #send-message-link, #rsvp-submit-link, #home-link, #resend-message-link {
 border-radius: 2px;
 border-color: $pink;
 color: $pink;
}
