.flash {
  font-family: 'Avenir', serif;
  font-size: 22px;
  background-color: $grey;
  color: $pink;
  border-radius: 1px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
}
