@font-face {
  font-family: "Ave";
  src: font-url('Ave.ttf') format("truetype")
}

@font-face {
  font-family: "AR";
  src: font-url("AR.otf") format("opentype")
}

@font-face {
  font-family: "Avenir";
  src: font-url("Avenir.otf") format("opentype")
}
