h2 {
  color: $pink;
  font-size: 50px;
  font-family: "AR", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 35px;
  color: $pink;
}


h4 {
  font-size: 25px;
  color: $pink;
}

h5 {
  font-size: 15px;
  color: $pink;
  font-style: italic;
}

h6 {
  font-size: 10px;
}

.hr {
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  background-image: url("../images/divider.png");
}

.modal-heading-style {
  font-family: "Avenir", sans-serif;
  color: $pink;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rsvp-date {
  text-align: center;
  font-style: italics;
}

.subheading {
  font-family: "Avenir", sans-serif;
  font-size: 40px;
  color: $pink;
  padding-bottom: 10px;
}

.accomodation-heading {
  text-transform: uppercase;
}

.fine-details {
  font-weight: italic;
  text-align: center;
  margin-top: 0px;
  color: $pink;
}

.bridesmaids-groomsmen {
  padding-top: 30px;
}

.dropdown-title {
  color: $white;
}
