.modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#contribute-gift-modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background-color: $white;
  margin : 0 auto;
}

#modal-heading-style {
  font-family: "Avenir", sans-serif;
  color: $pink;
  margin-top: 0px;
  margin-bottom: 0px;
}
