#owl-demo .item{
  margin: 3px;
  width: auto !important;
}

#owl-demo .item img{
  display: block;
  width: auto !important;
  height: 260px;
}

#owl-demo .item .description {
 padding: 26px 0 30px 35px;
 color: $black;
 background:$pink;
 height: 200px;
}

#owl-demo .item .description  {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
  margin: 0 0 -2px 0;
  text-align: left;
}

#owl-demo .item, {
  margin: 15px;
  border: 1px solid #f5f5f5;
  background-color: #fafafa;
  text-align: left;
}
