.homepage {
  h3 { text-align: center; }
  p { padding-top: 10px; }
}

.info-page {
  dd, dt { color: $pink; }
  h3 { text-transform: uppercase; text-align: left; padding-bottom: 10px; }
}

.accomodation-page {
  dt a { text-transform: uppercase;}
}

.new-rsvp-page {
  h5 { text-align: center; font-style: italics; }
  h4 { text-align: center; }
}

.accomodation-page, .info-page {
  dd { color: $pink; }
}

.main-people-page {
 span {
   text-transform: uppercase;
   text-align: center;
   color: $pink;
   font-weight: bold;
   width: 80px;
   height: 50px;
  }
}

.bridesmaids-groomsmen, .wedding-party {
  h5 { text-transform: uppercase; font-weight: bold; font-style: normal; }
  span { color: $pink }
}

.wedding-party {
  h2 { padding-top: 40px; }
}

.faq-page {
  dt { font-size: 18px; }
  dd { padding-top: 20px; }
}

.our-story-page {
  p {
    color: $pink;
  }
  time {
    font-weight: bold;
    font-size: 18px;
  }
}
