@mixin a11y {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.homepage {
  h3 { text-align: center; padding-bottom: 10px; }
  .wedding-date { font-size: 35px; text-align: center; color: $pink; }
  .info-page {
    background-color: $grey;
  }
}

.info-page {
  dd, dt { color: $pink; }
  p {   font-size: 25px; color: $pink; text-transform: uppercase; text-align: left; padding-bottom: 10px; }
  .info-time { padding-bottom: 8px; }
  .events-list-wrapper { background-color: $grey; padding-top: 10px; }
}

.accomodation-page {
  dt a { text-transform: uppercase;}
}

.new-rsvp-page {
  h5 { text-align: center; font-style: italics; }
  h4 { text-align: center; padding-bottom: 10px; }
}

.accomodation-page, .info-page {
  dd { color: $pink; }
}

.main-people-page {
 span {
   text-transform: uppercase;
   text-align: center;
   color: $pink;
   font-weight: bold;
   width: 80px;
   height: 50px;
  }
}

.bridesmaids-groomsmen-page, .wedding-party-page {
  h5 { text-transform: uppercase; font-weight: bold; font-style: normal; }
  span { color: $pink }
}

.wedding-party-page {
  h2 { padding-top: 40px; }
}

.wedding-party-page, .main-people-page, .bridesmaids-groomsmen-page {
  p { font-size: 15px; color: $pink; text-transform: uppercase; font-weight: bold;}
}

.faq-page {
  dd { padding-top: 20px; }
  .question {
    font-weight: bold;
  }
}

.our-story-page {
  time {
    font-weight: bold;
    font-size: 18px;
  }
}

.faq-page, .accomodation-page, .main-people-page, .wedding-party-page, .bridesmaids-groomsmen-page, .our-story-page {
  dt { @include a11y(); }
}

.hidden-label {
  @include a11y();
}
