.question {
  font-weight: bold;
  font-size: 18px;
}

.each-q {
  padding-bottom: 14px;
}

.para-text {
  color: $pink;
}

.caption {
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  font-weight: bold;
}
