p {
  color: $black;
  margin: 0 0 20px;
}

time {
  font-weight: bold;
  font-size: 18px;
}

.question {
  font-weight: bold;
  font-size: 18px;
}

.each-q {
  padding-bottom: 14px;
}

#story-event-text {
  color: $pink;
}

#main-people-name {
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  font-weight: bold;
  width: 80px;
  height: 50px;
}
